.jdr-page{
	display: flex;
	flex-direction: column;
    gap: 16px;
}

.jdr-container{
	display: flex;
	width: 300px;
	min-height: 260px;
	padding: 12px;
	border: 2px dashed #3d5afe;
	background: #f2f5ff;
}
.jdr-container-align-items{
	align-items: flex-end;
}


.jdr-container-align-content{
    flex-wrap: wrap; /* o wrap-reverse */
	align-content: center;
}

.jdr-container-row-gap{
    flex-wrap: wrap; /* o wrap-reverse */
	row-gap: 100px;
}

.jdr-container-column-gap{
	column-gap: 10px;
}

.jdr-box{
	width: 70px;
	height: 70px;
	border: 2px solid #1b1b1b;
	background: #ffca28;
	font-size: 16px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*ORDER*/
.jdr-order-1{
	order: 0;
}
.jdr-order-2{
	order: 0;
}
.jdr-order-3{
    order: 0;
}

/*FLEX-GROW*/
/* para crecer*/

.jdr-container-flex-grow .jdr-box{
    flex-grow: 1;
}
.jdr-container-flex-grow .jdr-grow-1{
    flex-grow: 1;
}

/*FLEX-SHRINK*/
/* para encogerse*/

.jdr-container-flex-shrink .jdr-box{
	width: 120px;
}

.jdr-shrink-1{
	flex-shrink: 5;
}



/*felx-basis*/
/* define el tamaño */
.jdr-basis-1{
	flex-basis: 10%;
}

.jdr-basis-2{
	flex-basis: 20%;
}

.jdr-basis-3{
	flex-basis: 70%;
}

/*flex*/
/*flex-grow, flex-shrinky flex-basiscombinados*/
.jdr-flex-1{
	flex: 0 0 auto;
}

.jdr-flex-2{
	flex: 0 0 auto;
}

.jdr-flex-0{
	flex: 0 0 auto;
}



/* align-self*/
/* no respeta al align-items*/
.jdr-container-align-self{
	align-items: flex-start;
}

.jdr-box100{
	align-self: center;
}
