.jdr-page{
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px;
}

.jdr-row{
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

.jdr-card{
	width: 340px;
	max-width: 100%;
	padding: 10px;
	border-radius: 10px;
	border: 1px dashed;
}


.jdr-card--sin{
	background-color: #b7b1b1;
}

.jdr-card--con{
	background-color: #9ce672;
}

.jdr-container{
	width: 100%;
	max-width: 320px;
	min-height: 260px;
	padding: 12px;
	border: 2px dashed #3d5afe;
	background: #f2f5ff;
}

.jdr-container--con{
	display: flex;
}

.jdr-container--sin{
	display: block;
	overflow: hidden;
}

.jdr-container--sin .jdr-box{
	float: left;
	margin: 6px;
}

/* align-items */
.jdr-container-align-items-start{
	align-items: flex-start;
}

.jdr-container-align-items-end{
	align-items: flex-end;
}

/* align-content */
.jdr-container-align-content-center,
.jdr-container-align-content-between{
	flex-wrap: wrap;
}

.jdr-container-align-content-center{
	align-content: center;
}

.jdr-container-align-content-between{
	align-content: space-between;
}

/* row-gap */
.jdr-container-row-gap-0,
.jdr-container-row-gap-40{
	flex-wrap: wrap;
}

.jdr-container-row-gap-0{
	row-gap: 0;
}

.jdr-container-row-gap-40{
	row-gap: 40px;
}

/* column-gap */
.jdr-container-column-gap-0,
.jdr-container-column-gap-20{
	flex-wrap: wrap;
}

.jdr-container-column-gap-0{
	column-gap: 0;
}

.jdr-container-column-gap-20{
	column-gap: 20px;
}

.jdr-box{
	width: 70px;
	height: 70px;
	border: 2px solid #1b1b1b;
	background: #ffca28;
	font-size: 16px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*ORDER*/
.jdr-order-1{
	order: 3;
}
.jdr-order-2{
	order: 1;
}
.jdr-order-3{
	order: 2;
}

/*FLEX-GROW*/
/* para crecer*/
.jdr-container-flex-grow .jdr-box{
	flex-grow: 0;
}

.jdr-container-flex-grow .jdr-grow-1{
	flex-grow: 1;
}

.jdr-container-flex-grow .jdr-grow-2{
	flex-grow: 2;
}

/*FLEX-SHRINK*/
/* para encogerse*/

.jdr-container-flex-shrink .jdr-box{
	width: 120px;
}

.jdr-shrink-1{
	flex-shrink: 5;
}



/*felx-basis*/
/* define el tamaño */
.jdr-basis-1{
	flex-basis: 10%;
}

.jdr-basis-2{
	flex-basis: 20%;
}

.jdr-basis-3{
	flex-basis: 70%;
}

/*flex*/
/*flex-grow, flex-shrinky flex-basiscombinados*/
.jdr-flex-1{
	flex: 1 1 0;
}

.jdr-flex-2{
	flex: 2 1 0;
}

.jdr-flex-0{
	flex: 0 0 auto;
}



/* align-self*/
/* no respeta al align-items*/
.jdr-container-align-self{
	align-items: flex-start;
}

.jdr-box100{
	align-self: center;
}
